.step3 {
    width: 100%;
}

.titleStep3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleh2 {
    font-family: Avenir1;
    color: red;
    text-align: center;
    font-size: 4vh;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 900px) {
    .titleh2 {
        font-size: 2vh;
    }
}

.containerRow {
    width: 80%;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .containerRow {
        width: 100%;
        display: block;
    }
}

.containerCol {
    width: 49%;
    display: inline-block;
    margin: 2vh 0.5%;
}

@media only screen and (max-width: 900px) {
    .containerCol {
        margin: 1vh auto;
        width: 95%;
        display: block;
    }
}

.viewOur {
    color: #BCBCBC;
    text-align: center;
    text-decoration: underline;
    font-family: Avenir2;
}